.shopNow {
  background: #063a88;
  max-height: 20rem;
  min-height: 20rem;
}
.onSaleProduct {
  border-radius: 4px;
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 18px;
  /* shadow 1 */
  /* box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12); */
  width: 13rem;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
.onSaleProduct :hover {
  cursor: pointer;
}

.pOnSaleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  border-radius: 0 8px 8px 0;
  background: var(--primary-primary-500, #063a88);
  height: 20rem;
}
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  position: absolute !important;
  background-color: rebeccapurple;
  bottom: 1.5rem;
}
